<!--<br>-->
<!--<nav>-->
<!--  <button type="button" (click)="toggle()">Toggle Open/Close</button>-->
<!--</nav>-->

<!--<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">-->
<!--  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>-->
<!--</div>-->
<div #myButton class="zzz">hello</div>
<hr>

<div>customer</div>
<app-timing-button [duration]="5000" [content]="'hello world'"></app-timing-button>

<div class="container">
  <br>
  <div class="row">
    <div class="col col-4">
<!--      <button class="btn button" (click)="test()">-->
<!--        <div class="button_progress" [ngClass]="{'active': isActive}" ></div>-->
<!--        <div class="container3 a">-->
<!--          <div class="text text-background">&nbsp;{{text}}&nbsp;</div>-->
<!--          <div class="text text-color" [ngClass]="{'active': isActive}">&nbsp;{{text}}&nbsp;</div>-->
<!--        </div>-->
<!--      </button>-->
    </div>
    <div class="col col-4">
      <button class="btn btn-primary">close</button>
    </div>
    <div class="col col-4">
    <div class="col col-4">
      <button  class="btn button" (click)="test()">
        <div class="button_progress" [ngClass]="{'active': isActive}" ></div>
        <div class="container3 a">
          {{text}}
          <span class="text text-color" [ngClass]="{'active': isActive}">{{text}}</span>
        </div>
      </button>
<!--      <br>-->
<!--      <button class="btn btn-primary">close</button>-->
<!--      <div class="aa" [ngClass]="{'bb': isActive}">close</div>-->
<!--      <div>close</div>-->
    </div>
  </div>
</div>


<hr>xu3u
<br>

<div class="container4" style="margin-left: 20px">
  <div class="text2 text-background2">Loading . . .</div>
  <div class="text2 text-color2">Loading . . .</div>
</div>
