

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/demo">Demo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/map-family">MapFamily <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/test">Test <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<div>hello</div>-->
<!--<app-timing-button [duration]="'5000'" [content]="'closecloseclose'" (trigger)="zz($event)"></app-timing-button>-->
