<!--<div [hidden]="false">-->
<!--<div *ngFor="let i of sections" class="container">-->
<!--  <span>{{i.id}}</span> : <span>{{i.enabled}}</span>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="container">-->
<!--  <div *ngIf="result">-->
<!--    <span>{{result.id}}</span> : <span>{{result.enabled}}</span>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="container">-->
<!--  <div *ngIf="result2">-->
<!--    <span>{{result2.id}}</span> : <span>{{result2.enabled}}</span>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<br>


<!--<app-demo></app-demo>-->

<app-test [data]="data"></app-test>
<button (click)="test()">+1</button>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" routerLink="/demo">Demo </a>-->
<!--      </li>-->
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" routerLink="/map-family">MapFamily </a>-->
<!--      </li>-->
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" routerLink="/test">Test </a>-->
<!--      </li>-->
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" routerLink="/modal">Model </a>-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<!--<br><br>-->
<!--<router-outlet></router-outlet>-->

<!--<div>hello1</div>-->
<!--<app-timing-button [duration]="'5000'" [content]="'closecloseclose'" (trigger)="zz($event)"></app-timing-button>-->
