<!--<div id="container" style="position:relative;">-->
<!--  <div id="div1" style="position:absolute; top:0; left:0;background: aqua">gg</div>-->
<!--  <div id="div2" style="position:absolute; top:0; left:0;background: blue; width: 0">gg</div>-->
<!--</div>-->

<!--<hr>-->
<!--<hr>-->
<!--<style>-->



<!--</style>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col col-4">-->
<!--      <button class="btn button" (click)="test()">-->
<!--&lt;!&ndash;        <div class="button_progress" [ngClass]="{'active': isActive}" ></div>&ndash;&gt;-->
<!--        <div class="container3">-->
<!--          <div class="text text-background">&nbsp;{{text}}&nbsp;</div>-->
<!--          <div class="text text-color" [ngClass]="{'active': isActive}">&nbsp;{{text}}&nbsp;</div>-->
<!--        </div>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="col col-4"></div>-->
<!--    <div class="col col-4"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="middle">-->
<!--  <button class="btn btn1">Hover Me</button>-->
<!--  <button class="btn btn2">Hover Me</button>-->
<!--</div>-->
<button (click)='demo()'>change color</button>

<div class="demo" [@my-demo]="isTrue ? 'red': 'yellow'">
  hello world !!
</div>
